@charset "UTF-8";
@keyframes aparecer14 {
  0% {
    opacity: 5%;
    transform: translateX(-30px); }
  20% {
    opacity: 10%; }
  40% {
    opacity: 30%; }
  60% {
    opacity: 60%; }
  80% {
    opacity: 80%; }
  100% {
    opacity: 100%;
    transform: translate(100px); } }

@keyframes aparecer3 {
  0% {
    opacity: 5%; }
  20% {
    opacity: 10%; }
  40% {
    opacity: 30%; }
  60% {
    opacity: 60%; }
  80% {
    opacity: 80%; }
  100% {
    opacity: 100%; } }

/*Extend*/
.boton--aceptar, .botton--cancelar {
  text-align: center;
  border-radius: 20px; }

.boton--aceptar {
  background-color: #045372;
  color: white; }

.botton--cancelar {
  background-color: #4c024e;
  color: white; }

/*Extend aplicado en videos*/
.VideoIndex1, .VideoIndex2 {
  width: 260px;
  height: 200px;
  margin-left: auto; }

/*Mixin*/
.ContactoContainer .VideoIndex1, .ContactoContainer .VideoIndex2, .ContactoContainer .VideoIndex2 {
  width: 470px;
  height: 290px; }

/*mapa redes*/
.btn--facebook {
  background-color: blue;
  width: 20px;
  height: 20px; }

.btn--twitter {
  background-color: red;
  width: 20px;
  height: 20px; }

.btn--tiktok {
  background-color: black;
  width: 20px;
  height: 20px; }

.btn--whatssap {
  background-color: green;
  width: 20px;
  height: 20px; }

/*map-geto*/
.ReseñasIndex {
  text-align: center;
  color: blueviolet;
  text-decoration: underline;
  background-color: aqua; }

.RemomendacionesIndex {
  text-align: center;
  text-decoration: underline;
  color: violet; }

/*Condicionales*/
.BodyIndex {
  background-image: linear-gradient(to bottom, #492af5, white); }

.BodyDrama1 {
  background-image: linear-gradient(to bottom, #492af5, white); }

.BodyTerror {
  background-image: linear-gradient(to bottom, #963b59, white); }

.RecomendacionesBody {
  background-image: linear-gradient(to bottom, #3593be, white); }

/*futura galeria de imagenes*/
.img-1 {
  width: 100px;
  height: 50px; }

.img-2 {
  width: 200px;
  height: 100px; }

.img-3 {
  width: 300px;
  height: 150px; }

.img-4 {
  width: 400px;
  height: 200px; }

.img-5 {
  width: 500px;
  height: 250px; }

/*each de colores*/
.red {
  color: red; }

.blue {
  color: blue; }

.black {
  color: black; }

.white {
  color: white; }

.HeaderContainer .InicioRecomendadas {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: row;
  justify-content: space-evenly; }

.HeaderContainer .TituloIndex {
  color: blue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: bold;
  animation-name: aparecer3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-top: 90px; }

.HeaderContainer .ParrafoIndex {
  animation-name: aparecer3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.HeaderContainer .RemomendacionesIndex {
  text-align: center;
  text-decoration: underline;
  margin-top: 50px;
  animation-name: aparecer14;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.HeaderContainer .Fixed {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0px;
  left: 0px;
  color: black;
  padding-right: 1px;
  text-indent: 0px;
  text-align: center;
  background-color: chartreuse;
  font-family: 'Pacifico', cursive;
  margin-left: 340px; }

/*Extend*/
.boton--aceptar, .botton--cancelar {
  text-align: center;
  border-radius: 20px; }

.boton--aceptar {
  background-color: #045372;
  color: white; }

.botton--cancelar {
  background-color: #4c024e;
  color: white; }

/*Extend aplicado en videos*/
.VideoIndex1, .VideoIndex2 {
  width: 260px;
  height: 200px;
  margin-left: auto; }

/*Mixin*/
.ContactoContainer .VideoIndex1, .ContactoContainer .VideoIndex2, .ContactoContainer .VideoIndex2 {
  width: 470px;
  height: 290px; }

/*mapa redes*/
.btn--facebook {
  background-color: blue;
  width: 20px;
  height: 20px; }

.btn--twitter {
  background-color: red;
  width: 20px;
  height: 20px; }

.btn--tiktok {
  background-color: black;
  width: 20px;
  height: 20px; }

.btn--whatssap {
  background-color: green;
  width: 20px;
  height: 20px; }

/*map-geto*/
.ReseñasIndex {
  text-align: center;
  color: blueviolet;
  text-decoration: underline;
  background-color: aqua; }

.RemomendacionesIndex {
  text-align: center;
  text-decoration: underline;
  color: violet; }

/*Condicionales*/
.BodyIndex {
  background-image: linear-gradient(to bottom, #492af5, white); }

.BodyDrama1 {
  background-image: linear-gradient(to bottom, #492af5, white); }

.BodyTerror {
  background-image: linear-gradient(to bottom, #963b59, white); }

.RecomendacionesBody {
  background-image: linear-gradient(to bottom, #3593be, white); }

/*futura galeria de imagenes*/
.img-1 {
  width: 100px;
  height: 50px; }

.img-2 {
  width: 200px;
  height: 100px; }

.img-3 {
  width: 300px;
  height: 150px; }

.img-4 {
  width: 400px;
  height: 200px; }

.img-5 {
  width: 500px;
  height: 250px; }

/*each de colores*/
.red {
  color: red; }

.blue {
  color: blue; }

.black {
  color: black; }

.white {
  color: white; }

.ContactoContainer {
  margin-left: 20px;
  margin-top: 100px; }
  .ContactoContainer .RedesIndex {
    margin-top: 130px; }

.FooterIndex {
  margin-top: 100px;
  margin-left: 100px; }
  .FooterIndex .Recomendados {
    color: blue;
    text-align: center;
    font-size: medium;
    margin-top: 100px; }
  .FooterIndex .ListaRecomendados {
    color: blue;
    font-size: 30px; }
  .FooterIndex .VolverArriba {
    font-size: 30px;
    color: blue; }

/*Extend*/
.boton--aceptar, .botton--cancelar {
  text-align: center;
  border-radius: 20px; }

.boton--aceptar {
  background-color: #045372;
  color: white; }

.botton--cancelar {
  background-color: #4c024e;
  color: white; }

/*Extend aplicado en videos*/
.VideoIndex1, .VideoIndex2 {
  width: 260px;
  height: 200px;
  margin-left: auto; }

/*Mixin*/
.ContactoContainer .VideoIndex1, .ContactoContainer .VideoIndex2, .ContactoContainer .VideoIndex2 {
  width: 470px;
  height: 290px; }

/*mapa redes*/
.btn--facebook {
  background-color: blue;
  width: 20px;
  height: 20px; }

.btn--twitter {
  background-color: red;
  width: 20px;
  height: 20px; }

.btn--tiktok {
  background-color: black;
  width: 20px;
  height: 20px; }

.btn--whatssap {
  background-color: green;
  width: 20px;
  height: 20px; }

/*map-geto*/
.ReseñasIndex {
  text-align: center;
  color: blueviolet;
  text-decoration: underline;
  background-color: aqua; }

.RemomendacionesIndex {
  text-align: center;
  text-decoration: underline;
  color: violet; }

/*Condicionales*/
.BodyIndex {
  background-image: linear-gradient(to bottom, #492af5, white); }

.BodyDrama1 {
  background-image: linear-gradient(to bottom, #492af5, white); }

.BodyTerror {
  background-image: linear-gradient(to bottom, #963b59, white); }

.RecomendacionesBody {
  background-image: linear-gradient(to bottom, #3593be, white); }

/*futura galeria de imagenes*/
.img-1 {
  width: 100px;
  height: 50px; }

.img-2 {
  width: 200px;
  height: 100px; }

.img-3 {
  width: 300px;
  height: 150px; }

.img-4 {
  width: 400px;
  height: 200px; }

.img-5 {
  width: 500px;
  height: 250px; }

/*each de colores*/
.red {
  color: red; }

.blue {
  color: blue; }

.black {
  color: black; }

.white {
  color: white; }

@media screen and (max-width: 700px) {
  .PortadaIndex {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 130px; }
  .RecomendacionesBody {
    display: flex;
    flex-direction: column; }
  .RemomendacionesIndex {
    font-size: 20px; }
  .ImagenFondo {
    width: 200px;
    height: 130px; }
  .VideoIndex1, .VideoIndex2 {
    width: 130px;
    height: 200px;
    margin-left: auto; }
  .VideoIndex2 {
    width: 130px;
    height: 200px; }
  .RedesIndex {
    display: flex;
    flex-direction: column;
    font-size: 130px;
    margin-top: 50px; } }

/*Extend*/
.boton--aceptar, .botton--cancelar {
  text-align: center;
  border-radius: 20px; }

.boton--aceptar {
  background-color: #045372;
  color: white; }

.botton--cancelar {
  background-color: #4c024e;
  color: white; }

/*Extend aplicado en videos*/
.VideoIndex1, .VideoIndex2 {
  width: 260px;
  height: 200px;
  margin-left: auto; }

/*Mixin*/
.ContactoContainer .VideoIndex1, .ContactoContainer .VideoIndex2, .ContactoContainer .VideoIndex2 {
  width: 470px;
  height: 290px; }

/*mapa redes*/
.btn--facebook {
  background-color: blue;
  width: 20px;
  height: 20px; }

.btn--twitter {
  background-color: red;
  width: 20px;
  height: 20px; }

.btn--tiktok {
  background-color: black;
  width: 20px;
  height: 20px; }

.btn--whatssap {
  background-color: green;
  width: 20px;
  height: 20px; }

/*map-geto*/
.ReseñasIndex {
  text-align: center;
  color: blueviolet;
  text-decoration: underline;
  background-color: aqua; }

.RemomendacionesIndex {
  text-align: center;
  text-decoration: underline;
  color: violet; }

/*Condicionales*/
.BodyIndex {
  background-image: linear-gradient(to bottom, #492af5, white); }

.BodyDrama1 {
  background-image: linear-gradient(to bottom, #492af5, white); }

.BodyTerror {
  background-image: linear-gradient(to bottom, #963b59, white); }

.RecomendacionesBody {
  background-image: linear-gradient(to bottom, #3593be, white); }

/*futura galeria de imagenes*/
.img-1 {
  width: 100px;
  height: 50px; }

.img-2 {
  width: 200px;
  height: 100px; }

.img-3 {
  width: 300px;
  height: 150px; }

.img-4 {
  width: 400px;
  height: 200px; }

.img-5 {
  width: 500px;
  height: 250px; }

/*each de colores*/
.red {
  color: red; }

.blue {
  color: blue; }

.black {
  color: black; }

.white {
  color: white; }

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

.GaleriaContainer {
  margin-top: 70px;
  justify-content: center; }
  .GaleriaContainer .RemomendacionesIndex {
    text-align: center;
    text-decoration: underline;
    margin-top: 50px;
    animation-name: aparecer14;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
  .GaleriaContainer .ContainerFotos {
    margin-left: 50px; }
    .GaleriaContainer .ContainerFotos .foto4 {
      transition: height 5s, width 5s; }
      .GaleriaContainer .ContainerFotos .foto4:hover {
        height: 400px;
        width: 260px;
        transform: scale(1); }
    .GaleriaContainer .ContainerFotos .foto3 {
      transition: height 5s, width 5s; }
      .GaleriaContainer .ContainerFotos .foto3:hover {
        height: 400px;
        width: 260px;
        transform: scale(1); }
    .GaleriaContainer .ContainerFotos .foto2 {
      transition: height 5s, width 5s; }
      .GaleriaContainer .ContainerFotos .foto2:hover {
        height: 400px;
        width: 260px;
        transform: scale(1); }
    .GaleriaContainer .ContainerFotos .foto1 {
      transition: height 5s, width 5s; }
      .GaleriaContainer .ContainerFotos .foto1:hover {
        height: 400px;
        width: 260px;
        transform: scale(1); }
  .GaleriaContainer .ReseñasIndex {
    text-align: center;
    color: aquamarine;
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 50px; }

.img-5 {
  margin-top: 100px; }

@keyframes aparecer5 {
  0% {
    opacity: 5%; }
  20% {
    opacity: 10%; }
  40% {
    opacity: 30%; }
  60% {
    opacity: 60%; }
  80% {
    opacity: 80%; }
  100% {
    opacity: 100%; } }

.TituloCines {
  color: black;
  animation-name: aparecer5;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@keyframes colorfondo {
  0% {
    background-color: white; }
  40% {
    background-color: gray; }
  80% {
    background-color: lemonchiffon; }
  100% {
    background-color: lightsalmon; } }

.RecomendacionTerror1 {
  font-size: 50px;
  animation-name: colorfondo;
  animation-duration: 6s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite; }

.RecomendacionDrama1 {
  font-size: 50px;
  animation-name: colorfondo;
  animation-duration: 6s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite; }
